<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <title>History</title>
</head>
<body>
    <div class="tabs is-centered">
        <ul>
          <li class="is-active" >
          <li><a href="/">Home</a></li>
          <li><a href="capsules">Capsules</a></li>
          <li><a href="cores">Cores</a></li>
          <li><a href="crew">Crew</a></li>
          <li><a href="dragons">Dragons</a></li>
          <li><a href="history">History</a></li>
          <li><a href="landpads">Landpads</a></li>
          <li><a href="launches">Launches</a></li>
          <li><a href="launchpads">Launchpads</a></li>
          <li><a href="payloads">Payloads</a></li>
          <li><a href="roadster">Roadster</a></li>
          <li><a href="rockets">Rockets</a></li>
          <li><a href="ships">Ships</a></li>
          <li><a href="starlink">Starlink</a></li>
        </ul>
    </div>
    <% for( let i = 0; i < history.length; i++ ) { 
            let hist = history[i]; %>
    <div class="card">
        <header class="card-header">
          <p class="card-header-title">
            <%= hist.title %>
          </p>
          <button class="card-header-icon" aria-label="more options">
            <span class="icon">
              <i class="fas fa-angle-down" aria-hidden="true"></i>
            </span>
          </button>
        </header>
        <div class="card-content">
          <div class="content">
            <%= hist.details %>
            <br>
          </div>
        </div>
        <footer class="card-footer">
          <a href="<%= hist.links.article %>" class="card-footer-item">Article</a>
          <p class="card-footer-item">Time: <%= hist.event_date_utc %></p>
          <p class="card-footer-item">ID: <%= hist.id %></p>
        </footer>
    </div>
    <% } %>
</body>
</html>