<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <title>Payloads</title>
</head>
<body>
    <div class="tabs is-centered">
        <ul>
          <li class="is-active" >
          <li><a href="/">Home</a></li>
          <li><a href="capsules">Capsules</a></li>
          <li><a href="cores">Cores</a></li>
          <li><a href="crew">Crew</a></li>
          <li><a href="dragons">Dragons</a></li>
          <li><a href="history">History</a></li>
          <li><a href="landpads">Landpads</a></li>
          <li><a href="launches">Launches</a></li>
          <li><a href="launchpads">Launchpads</a></li>
          <li><a href="payloads">Payloads</a></li>
          <li><a href="roadster">Roadster</a></li>
          <li><a href="rockets">Rockets</a></li>
          <li><a href="ships">Ships</a></li>
          <li><a href="starlink">Starlink</a></li>
        </ul>
    </div>
    <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
        <thead>
          <tr>
            <th><abbr title="id">Name</abbr></th>
            <th><abbr title="type">Type</abbr></th>
            <th><abbr title="launch">Launch</abbr></th>
            <th><abbr title="reused">Reused?</abbr></th>
            <th><abbr title="customers">Customers</abbr></th>
            <th><abbr title="nationalities">Nationalities</abbr></th>
            <th><abbr title="manufacturers">Manufacturers</abbr></th>
            <th><abbr title="orbit">Orbit</abbr></th>
            <th><abbr title="reference-system">Reference System</abbr></th>
          </tr>
        </thead>
        <tbody>
          <% for( let i = 0; i < payloads.length; i++ ) { %>
              <% let payload = payloads[i] %>
          <tr>
            <td><%= payload.name %></td>
            <td><%= payload.type %></td>
            <td><%= payload.launch %></td>
            <td><%= payload.reused %></td>
            <td><%= payload.customers %></td>
            <td><%= payload.nationalities %></td>
            <td><%= payload.manufacturers %></td>
            <td><%= payload.orbit %></td>
            <td><%= payload.reference_system %></td>
          </tr>
          <% }; %>
        </tbody>
      </table>
    
</body>
</html>